*.bak
*.class
*.ear
*.iml
*.ipr
*.iws
*.launch
*.pydevproject
*.swp
*.tmp
*.un~
*.war
*.pyc
*.DS_Store
*~
*~.nib
.buildpath
.cproject
.externalToolBuilders/
.factorypath
.gradle
.gradletasknamecache
.idea/
.idea_modules/
.loadpath
.metadata
.mtj.tmp/
.netrwhist
.settings/
.springBeans
.target
.texlipse
/out/
Session.vim
UNKNOWN-VERSION
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
atlassian-ide-plugin.xml
bin/
build/
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
dist
fabric.properties
gradle-app.setting
hs_err_pid*
local.properties
tmp/

dist/
sysProps.xml
