body {
  padding-top: 50px;
  background-color: #111111;
  color: #888888;
}

hr {
    color:#25b;
    border-color: #25b;
}

.buildid {
    font-size: 14px;
}

select {
    color: #888888;
    background-color: #222;
    padding: 6px 12px;
    border-radius: 3px;
    border: 0px;
}

.title {
    font-size: 150%;
    color:#55b;
}

#status {
    text-align: right;
}

.green {
  color: #30a080;
}

.amber {
  color: #a08030;
}

#nettabState,
#robotState {
  text-align: right;
}

#mainContent {
    padding-top: 10px;
}

#networktable {
    border-spacing: 1px;
    border-collapse: separate;
}

#networktable td {
    padding: 10px;
}
