body {
  padding-top: 50px;
  background-color: #111111;
  color: #888888;
}

hr {
    color:#25b;
    border-color: #25b;
}

td {
    padding: 4px;
}

input[type=number] {
    width: 80px;
    text-align: center;
}

input,
select {
    color: #888888;
    background-color: #222;
    padding: 2px 4px;
    border-radius: 3px;
    border: 0px;
}

label {
    font-weight: 400;
}

div input {
    padding:6px 4px;
}

.text-center {
  text-align: align;
}

.expression {
  padding-bottom: 3px;
}

.hdetail {
    font-size: 50%;
}

.panel-default > .panel-heading {
  background-color: #181818;
  color: #27f;
  border-color: #038;
}

.panel-default {
  background-color: #181818;
  border-color: #181838;
}

.panelState {
    font-size: 14px;
    color: #16c;
}

.buildid {
    font-size: 14px;
}

#allianceStation {
    font-weight: bold;
    font-style: italic;
}

.redAlliance {
    font-size: 16px;
    color: rgb(200, 30, 30);
}

.blueAlliance {
    font-size: 16px;
    color: rgb(30, 90, 255);
}

.unknownAlliance {
    font-size: 16px;
    color: rgb(200,130,0); /* amber */
}

#aboutlogo {
    width: 32px;
    animation: spin 4s linear infinite;
}
@-moz-keyframes spin {
    100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }
}
@-webkit-keyframes blink { 67% { opacity: 0 }}
@-moz-keyframes blink {  67% { opacity: 0 }}
@-o-keyframes blink {  67% { opacity: 0 }}
@keyframes blink {  67% { opacity: 0 }}

.rotate90 {
    webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.title {
    font-size: 150%;
    color:#55b;
}

#status {
    text-align: right;
}

.green {
  color: rgb(17, 151, 42);
}

.bigfont {
  font-size: 30px;
}

.amber {
  color: rgb(200,130,0);
}

.blinkRed {
  color: rgb(255,30,30);
  font-size: 30px;
  -webkit-animation-name: blink;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -webkit-animation-duration: 1s;
}

.stripChart {
  width: 100%;
  height: 100px;
}

#nettabState,
#robotState {
  text-align: right;
}

.verticalPad {
  padding-top: 10px;
  padding-bottom: 10px;
}

#mainContent {
    padding-top: 10px;
}

#networktable {
    border-spacing: 1px;
    border-collapse: separate;
}

#networktable td {
    padding: 10px;
}

/* assume camera feeds are 320x240 (4to3)*/

.nocam {
    border: 2px solid gray;
}

.cubecam {
    border: 2px solid green;
}

.liftcam {
    border: 2px solid red;
}

.picam {
    border: 2px solid blue;
}

/* robolog --*/
.logmsg {
    font-family: monospace;
    font-size: 12px;
}

.timestamp {
    color: #555;
}

.namespace {
    color: #383;
}

.DEBUG {
   color: #555;
}

.INFO {
   color: #248;
}

.NOTICE {
   color: #24F;
}

.WARNING {
    color: #842;
}

.ERROR,
.EXCEPTION {
    color: #822;
}

.LEDOn {
    color: #F00;
}

.LEDOff {
    color: #444;
}

@media (min-width: 1200px) {
.container {
    width: 95%;
}
}
