body {
  padding-top: 50px;
  background-color: #111111;
  color: #888888;
}

hr {
    color:#25b;
    border-color: #25b;
}

td {
    padding: 4px;
}

input[type="number"] {
    padding: 2px 4px;
    border-radius: 3px;
    border: 0px;
    background-color: #222;
    width: 80px;
    text-align: center;
}

input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button 
{
  -webkit-appearance: none;
  margin: 0;
}

input,
select {
    color: #888888;
    background-color: #222;
    padding: 2px 4px;
    border-radius: 3px;
    border: 0px;
}

button {
  color: #888;
}

label {
    font-weight: 400;
}

div input {
    padding:6px 4px;
}

.text-center {
  text-align: align;
}

.expression {
  padding-bottom: 3px;
}

.hdetail {
    font-size: 50%;
}

.panel-default > .panel-heading {
  background-color: #181818;
  color: #27f;
  border-color: #038;
}

.panel-default {
  background-color: #181818;
  border-color: #181838;
}

.panelState {
    font-size: 14px;
    color: #16c;
}

.buildid {
    font-size: 14px;
}

#allianceStation {
    font-weight: bold;
    font-style: italic;
}

.redAlliance {
    font-size: 16px;
    color: rgb(200, 30, 30);
}

.blueAlliance {
    font-size: 16px;
    color: rgb(30, 90, 255);
}

.unknownAlliance {
    font-size: 16px;
    color: rgb(200,130,0); /* amber */
}

#aboutlogo {
    width: 32px;
    animation: spin 4s linear infinite;
}
@-moz-keyframes spin {
    100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }
}
@-webkit-keyframes blink { 67% { opacity: 0 }}
@-moz-keyframes blink {  67% { opacity: 0 }}
@-o-keyframes blink {  67% { opacity: 0 }}
@keyframes blink {  67% { opacity: 0 }}

.rotate90 {
    width: 640px;
    height: 480px;
    webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    border: 2px solid gray;
}

.rotate0 {
    width: 640px;
    height: 480px;
    border: 2px solid blue;
}

.title {
    font-size: 150%;
    color:#55b;
}

#status {
    text-align: right;
}

.green {
  color: rgb(17, 151, 42);
}

.bigfont {
  font-size: 30px;
}

.amber {
  color: rgb(200,130,0);
}

.blinkRed {
  color: rgb(255,30,30);
  font-size: 30px;
  -webkit-animation-name: blink;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -webkit-animation-duration: 1s;
}

.stripChart {
  width: 100%;
  height: 100px;
}

#nettabState,
#robotState {
  text-align: right;
}

.verticalPad {
  padding-top: 10px;
  padding-bottom: 10px;
}

#mainContent {
    padding-top: 10px;
}

#networktable {
    border-spacing: 1px;
    border-collapse: separate;
}

#networktable td {
    padding: 10px;
}

/* robolog --*/
.logmsg {
    font-family: monospace;
    font-size: 12px;
}

.timestamp {
    color: #555;
}

.namespace {
    color: #383;
}

.DEBUG {
   color: #555;
}

.INFO {
   color: #248;
}

.NOTICE {
   color: #24F;
}

.WARNING {
    color: #842;
}

.ERROR,
.EXCEPTION {
    color: #822;
}

.LEDOn {
    color: #F00;
}

.LEDOff {
    color: #444;
}

@media (min-width: 1200px) {
.container {
    width: 95%;
}
}

.pathwrapper {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 10px;
  color: #444;
}

.path {
  background-color: #4444441a;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  text-shadow: 0px 0px 3px rgb(0, 0, 0) !important;
  position: relative;
}

.path:hover {
  filter: brightness(95%);
}

.btn-dark {
  background-color: hsl(69, 0%, 19%) !important;
  color: #fff !important;
  border-color: hsl(69, 0%, 23%) !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
  -webkit-font-smoothing: antialiased;
}

.modal-content.dark {
  background-color: #111111;
  color: #888888;
}

.modal-header.dark {
  border-bottom: 1px solid #3b3b3b;
}

.modal-footer.dark {
  border-top: 1px solid #3b3b3b;
}

.btn.active::after {
  content: " ✓";
}

#pathdisplay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #111111;
  z-index: 100000;
}

#pathcanvas {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 100%;
  padding-bottom: 50%; /* 2:1 */
  position: relative;

  background: blue;
}

.floating-close {
  position: fixed;
  top: 5px;
  right: 5px;
  z-index: 2000000;
}

#canvasbackground {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  border-radius: 5px;
  object-fit: cover;
}

#pathname {
  position: fixed;
  top: 3px;
  left: 6%;
  z-index: 2000000;
  margin: 0px;
  color: white;
  text-shadow: 1px 1px 9px rgba(0, 0, 0, 1);
}

.pathtog {
  width: 20px;
  height: 20px;
  margin: auto;
  font-size: 90px;
  text-align: center;
  top: calc((100vw/2)/2 - 10px);
  position: fixed;
  background-color: white;
  border-radius: 50%;
}

.pathtog:hover {
  box-shadow: 0 2.5px 20px 0 rgba(0,0,0,0.3);
}

.pathtog:active {
  background-color: grey;
}

#togswitch {
  left: calc(25% + 7px);
}

#togscale {
  left: calc(50% - 10px);
}
